body {
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(360deg, #01a99c 10%, #0698b1 360%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(360deg, #01a99c 10%, #0698b1 360%); /* FF3.6+ */
  background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%); /* W3C */
}

#game-grid{
   border: 1px solid black;
}

td img{
  display: block;
  margin: 0;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


#game_grid{
  position:absolute; 
  width:100%;
  height:100%;
  text-align:center; 
  vertical-align:middle;
  z-index: 9999;
}

#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#content_wrapper{
  text-align: center;
}

#content{
  display: inline-block;
}
