body {
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(360deg, #01a99c 10%, #0698b1 360%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(360deg, #01a99c 10%, #0698b1 360%); /* FF3.6+ */
  background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%); /* W3C */
}

#game-grid{
   border: 1px solid black;
}

#img-wrapper{ 
  display:flex;
  align-items:center;
  justify-content:center;

}

img{
  position:absolute;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out; 
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


/* #game_grid{
  position:absolute; 
  width:100%;
  height:100%;
  text-align:center; 
  vertical-align:middle;
  z-index: 9999;
} */

#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#content_wrapper{
  text-align: center;
}

#content{
  display: inline-block;
}

.wrapper {
  padding-top: 10%;
  width:100%;
  text-align:center;
}


.center {
  display: inline-block;
  margin:0 auto;
  width: 50%;
}

.left {
  float:left;
  width: 25%;
}

.right {
  float:right;
  width: 25%;
}


.left .img-top{
  width:  100%;
  height: 30%;
  overflow: hidden;
  padding: 1%;
  margin: 0;
}

.left .img-bottom{
  width:  100%;
  height: 30%;
  overflow: hidden;
  padding: 1%;
  margin: 0;
}

.right .img-top{
  width:  100%;
  height: 30%;
  overflow: hidden;
  padding: 1%;
  margin: 0;
}

.right .img-bottom{
  width:  100%;
  height: 30%;
  overflow: hidden;
  padding: 1%;
  margin: 0;
}



#table-stats{
  width: 100%;
  border : 1px solid black;
}

